<app-nav-bar></app-nav-bar>
<div class="d-flex about-profile">
    <img class="img-fluid" src="../../assets/images/candid.jpg" alt="profile image">
    <div class="bio">
        <p>Hello, my name is Seth Hamrick, a full-stack/frontend web developer located in Summersville, WV. I have had a unique journey as I first worked as a General Dentist. After graduating dental school and working unsatisfied for 4 years I decided to return to school. I desired a career in which I could work as part of a team to build incredible things. I have recently received my BS degree in computer science from SNHU and I am now hoping to make the leap into the development world. Over the past two years I have loved learning new skills towards web development and continue to do so daily. I am very excited to become part of a team that will enable me to continue growing as an indivdual and as a web developer. Thus far I have focused heavily on use of the Angular framework as I was introduced to it with my education. However, as I mentioned I love to learn and believe I am able to do so rapidly. <br> <br>
        In my personal time I enjoy spending time with my wife and family, following all sports heavily, and exercising at the gym. When I am not doing these things I often set personal goals and attempt to create personal projects to continue honing my development skills. <br> <br>
        As I have stated I am very excited to make the leap into the professional develpment world and I am seeking an environment that will enable me to continue learning as part of a team. If your are intersted in contacting me please feel free to send me an email directly from my contact page!</p>
    </div>
</div>
<div class="about-skills">
    <h4>Frontend Skills</h4>
    <ul class="skill-list">
        <li>Basic HTML, CSS, SCSS, Javascript</li>
        <li>Angular Framework, Typescript</li>
    </ul>
    <h4>Backend Skills</h4>
    <ul class="skill-list">
        <li>Node.js, Express.js, API setup</li>
        <li>Basic AWS hosting services</li>
    </ul>
</div>