@import '/styleBreakpoints.scss';

//Mixins

@mixin home-title {
    color: $title;
    text-decoration: underline;
    font-size: 30px;
}



//Variables

$background: #023047;
$border: #219ebc;
$text: #FFFFFF;
$accent: #ffb703;
$title: #fdc500;

//Globals

body {
    text-align: center;
    background-color: $border;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    width: 90%;
    height: 100%;
    background-size: cover;
    margin: 0 auto;
    padding: 40px 10px;
    background-color: $background;
    color: $text;
    min-height: calc(100vh - 75px);
}

/*Navbar*/
.navbar {
    background-color: $accent;
    text-align: center;
    min-height: 75px;
}

.navbar .navbar-brand {
    color: $background;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

.navbar-nav {
    @include lg {
        margin-right: 100px;
    }
}

.navbar .nav-link {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    color: $background;
}

.navbar .nav-link:hover {
    color: $text;
}

/*Home Page*/

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;

    h1 {
        font-size: 45px;
    }

    @include mdMax {
        flex-direction: column;
    }


}

.home-image {
    margin-left: 10px;
    width: 30%;
    height: 30%;
    border: 2px solid $accent;
    border-radius: 50%;

    @include md {
        width:15%;
        height:15%;
    }
}

.home-photo {
    width:100%;
    height:100%;
    border-radius: 50%;
}

.skill-container {
    margin-top: 30px;
    border: 2px solid $accent;
    border-radius: 10px;
    margin-bottom: 75px;
    padding: 10px;

    h3 {
        @include home-title;
    }
}

.skills {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    columns: 3;
    font-size: 20px;

    @include mdMax {
        font-size: 14px;
    }

    @include md {
        fa-icon {
            margin-left: 10px;
        }
    }
}

.education {
    margin: 75px auto;
    width: 80%;

    @include lg {
        width: 50%;
    }

    h3 {
        @include home-title;
        margin-bottom: 20px;
    }

    .education-list {
        list-style-type: inherit;
        list-style-position: inside;
        color: $title;
        text-align: left;

        li {
            color: $text;
            font-size: 20px;
            margin-bottom: 10px;
        }


    }
}

.github-container {
    border: 2px solid $accent;
    background-color: $border;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;

    a {
        font-size: 30px;
        color: $accent;
    }

    a:hover {
        color: $background;
    }

}

.projectClick {

    h3 {
        @include home-title;
        margin-bottom: 40px;
    }

    h3:hover {
        cursor: pointer;
        color: $text;
    }
}

.project-container {

    margin-top: 75px;

    h3 {
        @include home-title;
        margin-bottom: 40px;
    }

    h3:hover {
        cursor: pointer;
        color: $text;
    }

    .project {
        border: 2px solid $accent;
        background-color: $border;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 40px;

    }

    dt {
        font-size: 30px;
        margin-bottom: 10px;

        a {
            color: $title;
        }

        a:hover {
            color: $background;
        }
    }

    dl {
        text-align: left;
    }

    dd {
        font-size: 20px;
    }

    .project-icon {
        width: 30px;
        height: 30px;
    }
}

/*About Page*/

.d-flex {
    padding: 15px;
    border: 2px solid $title;
    margin-bottom: 75px;
    justify-content: center;

    .bio {
        margin-top: 20px;
        font-size: 17px;
    }

    .img-fluid {
        max-height: 700px;
        max-width: 750px;
        margin: auto;

        @include sm {
            max-height: 150px;
            max-width: 150px;
        }

        @include md {
            max-height: 300px;
            max-width: 300px;
        }
    }

    @include lgMax {
        flex-direction: column;
    }
}

.about-skills {
    text-align: center;

    h4 {
        color: $text;
        text-decoration: underline;
    }

    .skill-list {
        list-style-type: none;
        list-style-position: inside;
        font-size: 40px;

        fa-icon {
            margin-right: 10px;
        }
    }


}

@media all and (max-width: 900px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .img-fluid {
        margin-bottom: 1rem;
    }
}

/*Contact Page*/

.title {
    color: $title;
}

.contact-title {
    color: $text;
    margin-bottom: 75px;
}

.contact-form {
    margin-bottom: 100px;
    padding: 20px;
    border: 2px solid $title;
    border-radius: 15px;
    background-color: $border;

    form {
        text-align: center;
        align-items: center;
    }

    .row {
        max-width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;

        label  {
            color: $background;
            font-size: 20px;
            font-weight: 500;
        }

        input, textarea {
            border: 2px solid $background;
            border-radius: 10px;
            font-size: 17px;
        }

        input:focus, textarea:focus {
            outline: 2px solid $accent;
            border: none;
        }

        textarea {
            height: 400px;
            overflow-y: auto;
        }

        .btn-primary {
            background-color: $title;
            border: 2px solid $background;
            color: $background;
            font-weight: bold;
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
        }
    }
}
