<app-nav-bar></app-nav-bar>
<div class="greeting">
    <h1>Hello!</h1>
    <h2>My name is Seth Hamrick I am a motivated full-stack/frontend web developer</h2>
</div>
<div class="container">
    <div class="education">
        <h3>Education</h3>
        <h4>BS degree in computer science from Southern New Hampshire University, 2023</h4>
    </div>
    <div class="skill-container">
        <h3>Skills, Frameworks, and Tools</h3>
        <ul class="skills">
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>Angular</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>VS code</li>
            <li>Git</li>
            <li>Docker</li>
            <li>AWS</li>
        </ul>
    </div>
    <div class="projects">
        <h3>Personal Projects</h3>
        <dl>
            <dt><a target=" blank" href="http://todolist-angular.s3-website.us-east-2.amazonaws.com">To Do List Application</a></dt>
            <dd>First application made using Angular frontend and Node.js, Express.js, and MongoDB backend. Deployed using AWS S3 and ECS with Fargate. Application includes user account creation, login with authorization, ability for user to add, edit, and delete to do list items associated with their account. </dd>
            <dt><a target="blank" href="http://tictactoe-angular.s3-website.us-east-2.amazonaws.com">Multiplayer TicTacToe</a></dt>
            <dd>Multiplayer tic-tac-toe application using Angular frontend Node.js, Express.jsm and MongoDB backend. Deployed using AWS S3 and ECS with Fargate. Application includes user account creation, login with authentication, websocket connection and websocket rooms for gameplay, and SCSS used for user theme selection stored in browser storage.</dd>
            <dt><a target="blank" href="http://chasityshairpage.com">Hairstylist Site</a></dt>
            <dd>Hairstylist profile site for client created using Angular. Contains home page, service page, stylist portfolio page, and location/contact page. Includes request form which sends email to the stylist for event booking, link to stylists Square account for online appointment booking, and location represented with Google Maps.</dd>
        </dl>
    </div>
    <div class="github">
        <h4>Link to github with above projects and some other school based projects.</h4>
        <a href="https://github.com/Snhamrick">Seth's Github</a>
    </div>
</div>